#state {
    width: 31%;
    display: inline-block;
}

.column {
    padding-right: 3px;
    padding-left: 3px;
}

.packet-buttons-div {
    display: inline-flex;
    width: 100%;
}

#aggregate-btns {
    padding: 10px 0;
}

#states {
    padding: 1% 0 1% 43%;
}

select {
    font-weight: bold;
    width: 130px;
}

select.standard {
    background-color: lightcyan;
}

select.special {
    background-color: #b6fffd;
    height: 22px;
}

.grid-row > div {
    padding-left: 24px;
}

form > div {
    padding-right: 15px;
}

.packet-buttons-div > a {
    margin-bottom: 3px;
}

.packet-button {
    padding: 6px 12px;
}

.narrow-packet-caption {
    padding: 5px 10px;
    margin-bottom: 3px;
}

.wide-packet-caption {
    padding: 5px 2px 5px 10px;
}

.super-wide-packet-caption {
    padding: 5px 2px;
}

.aggregate-button {
    width: 250px;
}

#addComptBtn {
    padding: 0 13px 1px;
}

span.error {
    color: maroon;
    font-weight: bold;
}

form .ng-invalid.ng-dirty {
    background-color: lightpink;
}

form .ng-valid.ng-dirty {
    background-color: lightgreen;
}