<div ng-controller="mainCtrl" ng-show="isUserAuthorized()">
    <div class="panel" ng-if="isDataLoadedProperly()">
        <div class="col-xs-2 column">
            <ng-include src="'resources/views/packetsPanel.html'"></ng-include>
        </div>
        <div class="col-xs-10 column">
            <ng-include src="'resources/views/comptsPanel.html'"></ng-include>
        </div>
    </div>
    <div class="alert alert-danger" ng-if="isDataLoadError()">
        The error occurred during the data loading.
        <button class="btn btn-danger" ng-click="reloadRoute()">Click here to try again</button>
    </div>
    <div class="alert alert-danger" ng-if="isStatesNotLoaded()">
        The loaded states data is empty. Probably the database table is void.
        <button class="btn btn-danger" ng-click="reloadRoute()">Click here to try again</button>
    </div>
    <div class="alert alert-danger" ng-if="isComboDataNotLoaded()">
        The loaded comboData is empty. Probably the database table is void.
        <button class="btn btn-danger" ng-click="reloadRoute()">Click here to try again</button>
    </div>
</div>
<div ng-hide="isUserAuthorized()" class="alert alert-danger">
    You are not authorized to see this content. Please,
    <button class="btn btn-danger" ng-click="logout()">login</button>
</div>

