<div ng-controller="comptsPanelCtrl">
    <div class="alert alert-warning" ng-show="$parent.isDataLoadedProperly()
                    && !isPacketsNotLoaded() && isPacketSelected() && !isComptsSelected()">
        The selected packet is empty. Please add new compts or select another one.
    </div>
    <div class="alert alert-warning" ng-show="$parent.isDataLoadedProperly() && !isPacketsNotLoaded()
                                && !isPacketSelected() && isPacketAlreadySelectedAtLeastOnce()">
        No packet is selected. Please select (or add and select) one.
    </div>
    <div class="alert alert-warning" ng-show="$parent.isDataLoadedProperly() && isPacketsNotLoaded()">
        There are no loaded packets. Please add one.
    </div>
    <div id="rightColumn" ng-show="isPacketSelected()">
        <div id="table-pagination-radio">
            <div ng-show="isComptsSelected()">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th ng-show="data.allStateLabels" ng-cloak
                            ng-repeat="label in data.allStateLabels track by $index">
                            {{data.allStateLabels[$index]}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="compt in data.selectedCompts | filter:notNull
                                                                | range:data.selectedPage:data.pageSize">
                        <td width="43%" ng-cloak>
                            {{compt.label}}
                        </td>
                        <td width="17%" ng-repeat="state in data.allStates">
                            <span ng-bind="data.allCheckedComboData[compt.id][state.id]"
                                  ng-hide="data.selectedPacket.stateId == state.id"></span>
                            <span ng-show="data.selectedPacket.stateId == state.id">
                                  <select class="standard"
                                          ng-options="el for el in data.allComboData[compt.id][state.id]"
                                          ng-model="data.allCheckedComboData[compt.id][state.id]"
                                          ng-change="updateComptLocally(compt)">
                                  </select>
                            </span>
                        </td>
                        <td>
                            <button ng-click="deleteComptLocally(compt)" class="btn btn-xs btn-primary">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right btn-group">
                    <a ng-repeat="page in data.selectedCompts | filter:notNull | pageCount:data.pageSize"
                       ng-click="$parent.selectPage(page)" class="btn btn-default"
                       ng-class="getPageClass(page)" ng-cloak>
                        {{page}}
                    </a>
                </div>
            </div>
            <div class="well">
                <div id="states">
                    <div class="state" ng-repeat="state in data.allStates" ng-cloak>
                        <input type="radio"
                               ng-model="data.selectedPacket.stateId"
                               ng-value="state.id">
                        {{data.allStateLabels[state.id]}}
                    </div>
                </div>
            </div>
        </div>
        <form name="form" ng-show="isPacketSelected()" novalidate>
            <div class="row grid-row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label ng-class="label-primary">
                            Enter new compt label:
                            <input class="text"
                                   name="newLabelName"
                                   ng-model="data.newLabel"
                                   ng-trim="true"
                                   ng-maxlength="75"
                                   blacklist="blacklist"
                                   regex="regex"
                                   required/>
                            <span class="error" role="alert">
                                <div ng-show="form.newLabelName.$error.required">You did not enter a label</div>
                                <div ng-show="form.newLabelName.$error.maxlength">Label is too long</div>
                                <div ng-show="form.newLabelName.$error.blacklist">Label is not unique</div>
                                <div ng-show="form.newLabelName.$error.regex">
                                    Label should contain latin letters, digits, underscore and spaces only.
                                </div>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-2" ng-repeat="state in data.allStates track by $index">
                    <select class="special"
                            ng-options="el for el in data.comboDataDefaultSet"
                            ng-model="data.newComptCheckedVals[$index]">
                    </select>
                </div>
                <div class="col-sm-1">
                        <span class="input-group-btn">
                            <button class="btn btn-xs btn-success" id="addBtn"
                                    ng-click="addComptLocally()"
                                    ng-disabled="form.$invalid">Add
                            </button>
                        </span>
                </div>
            </div>
        </form>
    </div>
</div>